
#Container{
    background-color:rgb(101, 209, 168);
    margin:auto;
    max-width:50%;
    display:block;
    padding:2rem;
    border-radius:2rem;
    border-style: solid;
}
#user-dob{
  display: block;
  max-width: 100%;
  margin:1rem auto;
  background-color: skyblue;
  padding:0.5rem;
  border-radius:0.5rem;
  border-color: white;
}
#user-btn{
    display: block;
    max-width: 100%;
    margin:auto;
    border-color: white;
    background-color:skyblue;
    padding:0.5rem 1rem;
    border-radius:0.5rem
}
#user-out{
    margin:1rem auto;
    width:70%;
    display:block;
    text-align:center;
    border-style: solid;
    padding:0.5rem;
    border-radius: 1rem;
    border-color:white;
    background-color:skyblue;
    
}